<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="iotHubUri" value="spiothub156.azure-devices.net" />
    <add key="deviceKey" value="7jtKa008MHDdo9Jlyg47/TZmbsfrxvVWnjjoNwSsL00=" />
    <add key="deviceName" value="Vera" />
    <add key="veraip" value="10.1.1.150" />
    <add key="devicesFile" value="c:\users\administrator\documents\visual studio 2017\Projects\VeraIoTIntegration\VeraIoTIntegration\devices.csv" />
    <add key="frequency" value="45000" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>